/* >>>>>>>>>>>>>>>>>>>>>>>> 全局 css 变量 >>>>>>>>>>>>>>>>>>>>>>>> */
:root {
  /* 普通字体颜色 */
  --font-color-normal: rgb(255, 255, 255);
  /* 提醒字体颜色 */
  --font-color-warn: rgb(255, 1, 255);
  /* 头部字体颜色 */
  --font-color-header: rgb(178, 195, 237);
  /* 标题背景色 */
  --title-bg: rgb(0, 43, 121);
  /* 头部背景颜色 */
  --header-bg: rgba(28, 9, 45, 1);
  --header-bg-stop0: rgba(15, 23, 42, 0.7);
  --header-bg-stop1: rgba(15, 23, 42, 0.2);
  /* 路由背景颜色 */
  --route-bg: rgba(0, 0, 0, 0.4);
  --route-bg-stop0: rgba(0, 0, 0, 0.4);
  --route-bg-stop1: rgba(0, 0, 0, 0);
  --route-bg-top: var(--header-bg-stop0);
  /* 底图div背景颜色 */
  --basemap-bg: #000;

  /* 分割线颜色 */
  --split-color-outside: rgba(0, 47, 86, 1);
  --split-color-inside: rgba(0, 130, 154, 1);

  --hight-light-green: rgb(131, 255, 37);
  --hight-light-yellow: rgb(243, 243, 85);
  --hight-light-orange: rgb(223, 118, 59);

  /* 按钮 */
  --btn-primary-bg: rgba(0, 223, 239, 0.1);
  --btn-primary-border: rgba(0, 223, 239, 0.2);
  --btn-primary-bg-hover: rgba(0, 223, 239, 0.8);
  --btn-primary-color-hover: rgba(255, 255, 255, 1);
  --btn-primary-color-focus: rgba(0, 159, 255, 1);
  --btn-primary-border-focus: rgba(0, 159, 255, 0.5);

  /* 头部高度 */
  --header-height: 3.857142857142857rem;
  /* 底部路由高度 */
  --routerBottom-height: 17rem;
  /* 顶部路由高度 */
  --routerTop-height: 22vh;
  /* 左侧路由宽度 */
  --routerLeft-width: 30vw;
  /* 右侧路由宽度 */
  --routerRight-width: 30vw;
  /* 路由收起按钮宽度 */
  --route-bg-stop-width: 2.5rem;
}
/* >>>>>>>>>>>>>>>>>>>>>>>> 全局设置 >>>>>>>>>>>>>>>>>>>>>>>> */
body {
  overflow: hidden;
  font-size: 16px;
  color: var(--font-color-normal);
  font-family: Microsoft YaHei;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.nodata {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  line-height: 1;
  width: 100%;
  height: 100%;
  color: var(--font-color-header);
}
.flexct {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 滚动条整体部分，可以设置宽度啥的 */
::-webkit-scrollbar {
  width: 4px;
  height: 100px;
  border-radius: 2px;
  /* background: var(--btn-primary-bg); */
}

/* 滚动条两端的按钮 */
::-webkit-scrollbar-button {
  height: 4px;
  border-radius: 50%;
  /* background: var(--btn-primary-color-focus); */
}

/* 外层轨道 */
::-webkit-scrollbar-track {
}

/* 内层滚动槽 */
::-webkit-scrollbar-track-piece {
}

/* 滚动的滑块 */
::-webkit-scrollbar-thumb {
  width: 2px;
  height: 10px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 1px, var(--font-color-normal) 3px, rgba(0, 0, 0, 0) 3px, rgba(0, 0, 0, 0));
}

/* 边角 */
::-webkit-scrollbar-corner {
}

/* 定义右下角拖动块的样式 */
::-webkit-resizer {
}
/*>>>>>>>>>>>>>>>>>>>>>>>> esri 默认样式修改 >>>>>>>>>>>>>>>>>>>>>>>> */
.esri-view-surface--inset-outline:before {
  display: none;
}
.esri-view-surface--inset-outline:after {
  display: none;
}
.esri-view-surface:focus {
  outline: none;
}

/*>>>>>>>>>>>>>>>>>>>>>>>> 图片 >>>>>>>>>>>>>>>>>>>>>>>> */

.fullbg {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.img_bg {
  background-image: url(./imgs/bg.png);
}
.img_bk1 {
  background-image: url(./imgs/bk1.png);
}
.img_bk2 {
  background-image: url(./imgs/bk2.png);
}
.img_gl {
  background-image: url(./imgs/gl.png);
}
.img_mh {
  background-image: url(./imgs/mh.png);
}
.img_more {
  background-image: url(./imgs/more.png);
}
.img_more-h {
  background-image: url(./imgs/more-h.png);
}
.img_sl {
  background-image: url(./imgs/sl.png);
}
.img_tl {
  background-image: url(./imgs/tl.png);
}
